.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: white;

  &--operator {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: orange;
    color: white;
  }

  &--remove  {
    @extend .button--operator;
    background: white;
    color: red;
  }
}